* {
    margin: 0;
    box-sizing: border-box;
}



a {
    text-decoration: none;
    color: hsl(200, 15%, 8%);
}

a:visited {
    color: hsl(200, 15%, 8%);
}

body {
    background-color: hsl(0, 0%, 98%);
    color: hsl(200, 15%, 8%);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
}

header {
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
    padding: 0 20px;
    margin-bottom: 15px;
}

.theme-switcher {
    width: 95px;
    cursor: pointer;
}

.theme-switcher i {
    margin-right: 8px;
}

.title h1 {
    font-weight: 800;
    font-size: 14px;
}

.search-bar {
    width: 100%;
    padding: 0 20px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative;
}

.search-bar.detail {
    margin-bottom: 0;
}

.search-bar .fa-search {
    position: absolute;
    top: 16px;
    left: 45px;
    opacity: 0.3;
}

.search-bar input {
    width: 100%;
    max-width: 480px;
    height: 45px;
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
    border: none;
    border-radius: 7px;
    padding-left: 60px;
    cursor: text;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Nunito Sans', sans-serif;
}

.search-bar input:focus ~ .fa-search {
    opacity: 0.7;
} 

.filter {
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
    width: 200px;
    height: 45px;
    padding-left: 25px;
    line-height: 45px;
    cursor: pointer;
}

.filter .fa-caret-down{
    margin-left: 60px;
    opacity: 0.3;
}

.filter-selector {
    display: none;
    position: absolute;
    top: 134px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
    width: 200px;
    height: 160px;
    padding: 20px 25px;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999;
}

.filter-selector.active {
    display: flex;
}

.filter-selector .select-region {
    cursor: pointer;
    transition: transform .2s;
}

.filter-selector .select-region:hover {
    transform: scale(1.1);
}

.back-btn {
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
    width: 130px;
    height: 45px;
    padding: 0 20px;
    line-height: 45px;
    position: absolute;
    top: 20px;
}

.back-btn .fa-arrow-left {
    margin-right: 25px;
    opacity: 0.3;
}

.main-content {
    padding: 0 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 265px;
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
    margin-bottom: 40px;
    transition: transform .3s;
}

.card:hover {
    transform: scale(1.1);
}

.flag {
    width: 100%;
    max-width: 560px;
}

.flag img {
    width: 100%;
}

.data-wrapper {
    padding: 30px 25px;
    width: 100%;
}

.country-info-wrapper {
    display: flex;
    flex-direction: column;
}

.data-wrapper.detail {
    padding: 30px 0;
}

.data-wrapper h3 {
    font-size: 18px;
    font-weight: 800;
    margin: 18px 0;
}

.country-data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 30px;
}

.country-data span {
    line-height: 30px;
}

.border-countries {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.countries {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
    width: 30%;
    max-width: 100px;
    height: 30px;
    padding: 0 5px;
    line-height: 30px;
    text-align: center;
    margin: 5px 3px;
}

.data-wrapper h4 {
    margin-bottom: 18px;
}

@media only screen and (min-width: 900px) {
    body {
        font-size: 16px; 
    }

    header {
        padding: 0 80px;
    }

    .title h1 {
        font-size: 16px;
    }

    .theme-switcher {
        width: 105px;
    }
    
    .search-bar {
        flex-direction: row;
        align-items: center;
        padding: 0 80px;
    }
    
    .search-bar input {
        height: 60px;
        font-size: 16px;
    }

    .search-bar .fa-search {
        top: 57px;
        left: 107px;
    }

    .filter {
        height: 60px;
        line-height: 60px;
    }

    .filter .fa-caret-down {
        margin-left: 35px;
    }

    .filter-selector {
        top: 100px;
        right: 80px;
    }

    .main-content {
        padding: 0 80px;
    }

    .card .flag {
        width: 100%;
    }

    .flag {
        width: 45%;
    }

    .data-wrapper.detail {
        width: 45%;
        max-width: 560px;
    }

    .country-info-wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}
/* DARK THEME */

.dark {
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 100%);
}

.dark header, .dark .card, .dark .filter-selector, .dark .filter, .dark .search-bar input, .dark .back-btn, .dark .countries {
    background-color: hsl(209, 23%, 22%);
}

.dark a {
    color: hsl(0, 0%, 100%);
}

.dark a:visited {
    color: hsl(0, 0%, 100%);
}
